#pokedex {
  min-height: 50vh;
  background-color: rgb(249 109 107);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

#pokedexHeaderCard {
  width: 90vw;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#pokemonName {
  margin: 0;
  padding-top: 50px;
}

#pokedexTypeAndNumber {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

#typeCard {
  background-color: rgb(248 140 139);
  padding: 10px 30px;
  border-radius: 90px;
}

#pokemonImage {
  height: 400px;
  object-fit: cover;
  z-index: 5;
}

#pokemonStats {
  margin-top: -130px;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  height: 50vh;
  width: 100vw;
  background-color: white;
  color: black;
}

#container_2 {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px;
}

.iconHeader {
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

.iconHeader:hover {
  cursor: pointer;
  opacity: 0.6;
}

.statsHeader {
  margin-top: 130px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(205 205 207);
  padding-left: 160px;
}

.headlineStats {
  text-decoration: none;
  padding-bottom: 30px;
  margin-right: 100px;
}

.headlineStats:hover {
    color: black;
    cursor: pointer;
    border-bottom: 2px solid black;
}

.tableStats {
    width: 300px;
    margin-left: 160px;
    font-size: 20px;
    margin-top: 70px;
}

.tableTrStats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.textGrey {
    color: rgb(174, 174, 177);
}

.selected {
    border-bottom: 2px solid black;
    color: black;
}

.padding {
  padding-top: 70px;
}
